<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Inicio</title>
</head>
<body>
	<header>
		<h1>Bienvenido a Programación Visual</h1>
	</header>

	<nav>
		<ul>
			<li><a href="index.html">Inicio</a></li>
			<li><a href="https://www.fi.unju.edu.ar/" target="blank">Fi
					Unju</a></li>
			<li><a
				href="https://virtual.unju.edu.ar/course/view.php?id=2540"
				target="blank">Aula Virtual</a></li>
			<li><a href="#sobre-nosotros">Sobre nosotros</a></li>
			<li><a href="#contacto">Contacto</a></li>
		</ul>
	</nav>

	<main>
		<section id="section-one">
			<img alt="logopv" src="../static/images/logopv.png">
			<h2>Clases</h2>
			<p>Modalidad virtual</p>
			<h3>Teoría</h3>
			<ul>
				<li>Miércoles de 14 a 17</li>
			</ul>
			<h3>Práctica</h3>
			<ol>
				<li>Comisión 1
					<ul>
						<li>Lunes de 18 a 21</li>
					</ul>
				</li>
				<li>Comisión 2
					<ul>
						<li>Jueves de 14 a 17</li>
					</ul>
				</li>
				<li>Comisión 3
					<ul>
						<li>Viernes de 18 a 21</li>
					</ul>
				</li>
			</ol>

		</section>
		<section id="section-two">
			<h2>Contenido</h2>
			<h3>SEMANA 1</h3>
			<div>
				<p>Objetivos</p>
				<p>
					<b>Que los estudiantes Instalen las herramientas para
						desarrollo; Java JDK 19 - Spring Tool Suite Que puedan expresar
						las consignas de ejercicios en un formato de Historias de Usuario
						y la representen en Proyectos de GitHub Introducir en el manejo
						del lenguaje de programación Java: Creación de clases, atributos,
						métodos y estructuras de control selectivas Que puedan subir el
						desarrollo de ejercicios en el repositorio de GitHub </b>
				</p>
			</div>
			<div>
				<p>Autoaprendizaje</p>
				<div>
					<p>
						<b>Instalación de Java 17</b>
					</p>
					<iframe width="560" height="315"
						src="https://www.youtube.com/embed/TRsCMJrKglw?si=5nblLQqxVtGvD6ol"
						title="YouTube video player" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
				<div>
					<p>
						<b>Instalación de Spring Tool Suite</b>
					</p>
					<iframe width="560" height="315"
						src="https://www.youtube.com/embed/89Mr-dYcHxA?si=rCOiYZwBaDjtASC1"
						title="YouTube video player" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
			</div>
			<div>
				<p>Actividades</p>
				<table border="1">
					<tr>
						<th colspan="2">Planificación Semanal</th>
					</tr>
					<tr>
						<th>Teoría</th>
						<td>Describir el ámbito de Spring Tool Suite Ejemplificar la
							creación de objetos, atributos, métodos; así como la invocación
							de métodos. Aplicar el ocultamiento de atributos y el uso de
							métodos accesores. Describir el formato de las estructura if en
							Java Instalar Postman Crear cuenta en Gthub Instalar GIT Crear un
							hola mundo en STS y subirlo al respositorio remoto. Clonar un
							repositorio (Incluye control de realización al azar) Asistencia</td>
					</tr>
					<tr>
						<th>Práctica</th>
						<td>Validar que los estudiantes hayan instalado STS y Java
							Realizar una breve descripción del formato de estructuras
							iterativas (while y for) : 20 minutos. Taller de GitHub: asistir
							a un estudiante para que se cree la cuenta en GitHub y cómo subir
							desde STS un proyecto Java al repositorio remoto de GitHub.
							Proponer diversos ejercicios sencillos para que los estudiantes
							realicen y luego lo socialicen en clases, corrigiendo errores o
							aclarando puntos que generen dudas. Una propuesta puede ser que
							la asistencia se valide con que al menos dos de estos ejercicios
							se hayan subido a GitHub, para lo cual deberían compartir en un
							formulario sus datos y la url del repositorio remoto.</td>
					</tr>
				</table>
			</div>
			<h3>SEMANA 2</h3>
			<div>
				<p>Objetivos</p>
				<p>
					<b>Profundizar en los conceptos de atributos, constructores y
						métodos accesores y estructuras de control iterativas. Introducir
						el uso del tipo de datos String y Fecha Brindar ejemplos de
						excepciones Describir los mecanismos de conversión de datos en
						Java Realizar un marco teórico más profundo sobre versionamiento
						con Git</b>
				</p>
			</div>
			<div>
				<p>Autoaprendizaje</p>
				<div>
					<p>
						<b>El tipo de datos String</b>
					</p>
					<iframe width="560" height="315"
						src="https://www.youtube.com/embed/P1hhD8k5S6U?si=wkKsbqEdnRbAyw-w"
						title="YouTube video player" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
				<div>
					<p>
						<b>El tipo de datos Date y su gestión con Calendar</b>
					</p>
					<iframe width="560" height="315"
						src="https://www.youtube.com/embed/WHS7Szyl-dA?si=tpmx0Ph59bzsIlPi"
						title="YouTube video player" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
			</div>
			<div>
				<p>Actividades</p>
				<table border="1">
					<tr>
						<th colspan="2">Planificación Semanal</th>
					</tr>
					<tr>
						<th>Teoría</th>
						<td>Profundizar ejemplos de problemas cuya solución requiere
							la creación de objetos, atributos, métodos; así como la
							invocación de métodos. Ejemplificar el uso de las estructuras
							iterativas de control. Incorporar el uso de la clase Scanner para
							diversos ejemplos Realizar una introducción al uso de excepciones
							Brindar un breve ejemplo del uso de String y fechas, y animar a
							que los estudiantes los profundicen mediante los recursos del
							aula. Aplicar el concepto de constante y el uso de la palabra
							reservada static</td>
					</tr>
					<tr>
						<th>Práctica</th>
						<td>Iniciar el trabajo práctico 1 Establecer el mecanismo de
							registro de asistencia por objetivos dentro de las actividades de
							la clase. Profundizar el uso de GitHub de manera práctica Invitar
							a los estudiantes a que realicen los cuestionarios dentro de la
							fecha indicada.</td>
					</tr>
				</table>
			</div>
			<h3>SEMANA 3</h3>
			<div>
				<p>Objetivos</p>
				<p>
					<b>Introducir a los estudiantes en el uso de los arreglos.
						Conceptualizar brevemente el uso de interfaces Introducir a los
						estudiantes en el uso de algunas colecciones Iniciar en el uso de
						proyectos Maven Realizar un marco teórico - práctico más profundo
						sobre versionamiento con Git </b>
				</p>
			</div>
			<div>
				<p>Autoaprendizaje</p>
				<div>
					<p>
						<b>Los arreglos parte 01</b>
					</p>
					<iframe width="560" height="315"
						src="https://www.youtube.com/embed/AFYnO4b1VRY?si=jJX_g0bpL7Y2P7kb"
						title="YouTube video player" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
				<div>
					<p>
						<b>Los arreglos parte 02</b>
					</p>
					<iframe width="560" height="315"
						src="https://www.youtube.com/embed/mU6jac8uhlQ?si=WTm83wzXZ5UOM-F3"
						title="YouTube video player" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
			</div>
		</section>
		<section id="section-three">
			<h2>Clases de consulta</h2>
			<table border="1">
				<tr>
					<th>Profesor</th>
					<th>Horario</th>
					<th>Enlace Meet</th>
				</tr>
				<tr>
					<td>Ariel Vega</td>
					<td>Viernes de 8:30 a 9:30</td>
					<td><a href="https://meet.google.com/ujm-tauq-tfg">https://meet.google.com/ujm-tauq-tfg</a></td>
				</tr>
				<tr>
					<td>Calonia Apaza</td>
					<td>Jueves de 17:00 a 18:00</td>
					<td><a href="https://meet.google.com/wwk-whaf-yxi">https://meet.google.com/wwk-whaf-yxi</a></td>
				</tr>
				<tr>
					<td>Juan Carlos Rodriguez</td>
					<td>Miércoles de 18:00 a 19:00</td>
					<td><a href="https://meet.google.com/oxt-kfay-uko">https://meet.google.com/oxt-kfay-uko</a></td>
				</tr>
				<tr>
					<td>Gustavo Sosa</td>
					<td>Jueves de 20:00 a 21:00</td>
					<td><a href="https://meet.google.com/doe-pptp-zyg">https://meet.google.com/doe-pptp-zyg</a></td>
				</tr>
			</table>
		</section>
	</main>

	<aside>
		<p>Bibioteca Digital CID UNJu</p>
		<a href="https://www.bidi.la/" target="blank"> <img
			alt="CID-Ingenieria" src="../static/images/CID-Ingenieria.jpeg">
		</a>
		<p>Bibiotecas Digitales</p>
		<a href="https://virtual.unju.edu.ar/bibliotecas/" target="blank">
			<img alt="bibliodig" src="../static/images/bibliodig.png">
		</a>
	</aside>

	<footer>
		<p>
			© 2015-2023 | UNJu Virtual - Plataforma de Educación a Distancia
			(EaD) |<a href="https://www.unju.edu.ar/" target="blank">Universidad
				Nacional de Jujuy</a>
		</p>
		<ul>
			<li><a href="https://www.unju.edu.ar/" target="blank">https://www.unju.edu.ar</a></li>
			<li><a href="mailto:virtual@unju.edu.ar" target="blank">virtual@unju.edu.ar</a></li>
			<li><a href="tel:0388 - 154708223" target="blank">0388 -
					154708223</a></li>
		</ul>
	</footer>

</body>
</html>